---
http_interactions:
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/Apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Apple","id":6,"family":"Rosaceae","order":"Rosales","genus":"Malus","nutritions":{"calories":52,"fat":0.4,"sugar":10.3,"carbohydrates":11.4,"protein":0.3}}'
  recorded_at: Mon, 29 Jan 2024 05:14:26 GMT
recorded_with: VCR 6.2.0
