---
http_interactions:
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Apple","id":6,"family":"Rosaceae","order":"Rosales","genus":"Malus","nutritions":{"calories":52,"fat":0.4,"sugar":10.3,"carbohydrates":11.4,"protein":0.3}}'
  recorded_at: Mon, 29 Jan 2024 20:05:52 GMT
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/calories?max=52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Strawberry","id":3,"family":"Rosaceae","order":"Rosales","genus":"Fragaria","nutritions":{"calories":29,"fat":0.4,"sugar":5.4,"carbohydrates":5.5,"protein":0.8}},{"name":"Bl[...]
- request:
    method: get
    uri: https://www.fruityvice.com/api/fruit/Strawberry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Strawberry","id":3,"family":"Rosaceae","order":"Rosales","genus":"Fragaria","nutritions":{"calories":29,"fat":0.4,"sugar":5.4,"carbohydrates":5.5,"protein":0.8}}'
  recorded_at: Mon, 29 Jan 2024 20:05:53 GMT
recorded_with: VCR 6.2.0
